In [372]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [373]:
df = pd.read_csv('https://raw.githubusercontent.com/hcbagde17/cognifzy_ml_tasks/refs/heads/main/task1/cleaned_dataset.csv')
df.head()

,Restaurant Name,Country Code,City,Address,Locality,Longitude,Latitude,Cuisines,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Average Cost for 2 in INR,Cuisine_count
0,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City",121.027535,14.565443,"French, Japanese, Desserts",Botswana Pula(P),1,0,0,0,3,4.8,Dark Green,Excellent,314,7458.0,3
1,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City",121.014101,14.553708,Japanese,Botswana Pula(P),1,0,0,0,3,4.5,Dark Green,Excellent,591,8136.0,1
2,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",Botswana Pula(P),1,0,0,0,4,4.4,Green,Very Good,270,27120.0,4
3,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City",121.056475,14.585318,"Japanese, Sushi",Botswana Pula(P),0,0,0,0,4,4.9,Dark Green,Excellent,365,10170.0,2
4,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City",121.057508,14.584450,"Japanese, Korean",Botswana Pula(P),1,0,0,0,4,4.8,Dark Green,Excellent,229,10170.0,2

In [374]:
df = df.drop(columns = ['Restaurant Name','Address','Currency','Rating color','Rating text','Cuisine_count'], axis=1)

In [375]:
df.head(20)

,Country Code,City,Locality,Longitude,Latitude,Cuisines,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Votes,Average Cost for 2 in INR
0,162,Makati City,"Century City Mall, Poblacion, Makati City",121.027535,14.565443,"French, Japanese, Desserts",1,0,0,0,3,4.8,314,7458.0
1,162,Makati City,"Little Tokyo, Legaspi Village, Makati City",121.014101,14.553708,Japanese,1,0,0,0,3,4.5,591,8136.0
2,162,Mandaluyong City,"Edsa Shangri-La, Ortigas, Mandaluyong City",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",1,0,0,0,4,4.4,270,27120.0
3,162,Mandaluyong City,"SM Megamall, Ortigas, Mandaluyong City",121.056475,14.585318,"Japanese, Sushi",0,0,0,0,4,4.9,365,10170.0
4,162,Mandaluyong City,"SM Megamall, Ortigas, Mandaluyong City",121.057508,14.584450,"Japanese, Korean",1,0,0,0,4,4.8,229,10170.0
5,162,Mandaluyong City,"SM Megamall, Ortigas, Mandaluyong City",121.056314,14.583764,Chinese,0,0,0,0,3,4.4,336,6780.0
6,162,Pasay City,"SM by the Bay, Mall of Asia Complex, Pasay City",120.979667,14.531333,"Asian, European",1,0,0,0,4,4.0,520,13560.0
7,162,Pasay City,"SM by the Bay, Mall of Asia Complex, Pasay City",120.979333,14.540000,"Seafood, Filipino, Asian, European",1,0,0,0,4,4.2,677,13560.0
8,162,Pasay City,"Sofitel Philippine Plaza Manila, Pasay City",120.980090,14.552990,"European, Asian, Indian",1,0,0,0,4,4.9,621,40680.0
9,162,Pasig City,Kapitolyo,121.056532,14.572041,Filipino,1,0,0,0,3,4.8,532,7458.0
10,162,Pasig City,Kapitolyo,121.057916,14.567689,"Filipino, Mexican",0,0,0,0,3,4.9,1070,5424.0
11,162,Pasig City,Kapitolyo,121.060820,14.570849,"American, Ice Cream, Desserts",1,0,0,0,3,4.2,488,6102.0
12,162,Quezon City,"UP Town Center, Diliman, Quezon City",121.075419,14.649503,"Filipino, Mexican",0,0,0,0,3,4.8,294,5424.0
13,162,San Juan City,Addition Hills,121.033592,14.593450,Filipino,1,0,0,0,3,4.2,458,6780.0
14,162,San Juan City,Little Baguio,121.038110,14.598890,Korean,0,0,0,0,3,4.3,223,4746.0
15,162,Santa Rosa,"Nuvali, Don Jose, Santa Rosa",121.057040,14.237082,"Cafe, American, Italian, Filipino",0,0,0,0,3,3.6,29,5424.0
16,162,Santa Rosa,"Solenad 3, Don Jose, Santa Rosa",121.056587,14.237679,"Italian, Pizza",0,0,0,0,3,4.0,72,5763.0
17,162,Tagaytay City,Tagaytay City,120.951589,14.101834,Filipino,1,0,0,0,3,4.5,211,8136.0
18,162,Taguig City,"BGC Stopover Pavillion, Bonifacio Global City",121.045878,14.554360,"Cafe, Korean, Desserts",0,0,0,0,2,4.5,118,4068.0
19,162,Taguig City,Bonifacio Global City,121.046220,14.549337,"Cafe, Bakery, American, Italian",1,0,0,0,4,4.4,392,10170.0

In [376]:
print(df.groupby('City')['Cuisines'].agg(lambda x: x.mode()[0]))

City
Abu Dhabi                                                  American
Agra                                          North Indian, Mughlai
Ahmedabad          Cafe, American, Continental, Armenian, Fast Food
Albany                                       Japanese, Steak, Sushi
Allahabad                                     North Indian, Chinese
                                         ...
Weirton                                     Burger, Greek, Sandwich
Wellington City                                                Cafe
Winchester Bay                               Burger, Seafood, Steak
Yorkton                                                       Asian
��stanbul                                                      Cafe
Name: Cuisines, Length: 140, dtype: object

In [377]:
all_cuisines = df['Cuisines'].str.split(', ', expand=True).stack()
top_20_cuisines = all_cuisines.value_counts().head(25).index.tolist()

# Convert to set for faster lookup
top_20_set = set(top_20_cuisines)
print(top_20_set)

{'Chinese', 'Mithai', 'Biryani', 'Burger', 'Cafe', 'Mexican', 'Pizza', 'Italian', 'Bakery', 'Ice Cream', 'Beverages', 'Continental', 'Street Food', 'Desserts', 'North Indian', 'Thai', 'Mughlai', 'Asian', 'Fast Food', 'Healthy Food', 'American', 'South Indian', 'Japanese', 'European', 'Seafood'}

In [ ]:

def get_priority_cuisine(cuisine_str):
    if pd.isna(cuisine_str):
        return None
    
    # Split the string into a list: "Naga, Chinese" -> ["Naga", "Chinese"]
    current_list = [x.strip() for x in cuisine_str.split(',')]
    
    # STRATEGY: Look for the first "Popular" cuisine in the list
    for cuisine in current_list:
        if cuisine in top_20_set:
            return cuisine  # Found a popular one! Return it immediately.
            
    # Fallback: If NONE are in top 20, just return the first one
    return current_list[0]

In [ ]:

df['Primary_Cuisine'] = df['Cuisines'].apply(get_priority_cuisine)

In [ ]:
# Define mapping dictionary
cuisine_mapping = {
    # Merge into 'Fast Food'
    'Street Food': 'Fast Food',
    'Burger': 'Fast Food',
    'Pizza': 'Fast Food',
    
    # Merge into 'Desserts'
    'Mithai': 'Desserts',
    'Ice Cream': 'Desserts',
    
    # Merge into 'Asian'
    'Thai': 'Asian',
    'Japanese': 'Asian',
    
    # Merge into 'Cafe'
    'Beverages': 'Cafe'
}

In [381]:
# Apply the mapping
df['Primary_Cuisine'] = df['Primary_Cuisine'].replace(cuisine_mapping)

# Check the new list of counts
print(df['Primary_Cuisine'].value_counts().head(15))

Primary_Cuisine
North Indian    3107
Fast Food       1343
Chinese          891
Cafe             712
Bakery           621
Desserts         583
American         286
South Indian     272
Italian          258
Continental      249
Mughlai          225
Asian            198
Biryani          117
Mexican           73
Seafood           72
Name: count, dtype: int64

In [ ]:
# Verify the Improvement
print("Top 5 Classes Distribution:")
print(df['Primary_Cuisine'].value_counts().head())

Top 5 Classes Distribution:
Primary_Cuisine
North Indian    3107
Fast Food       1343
Chinese          891
Cafe             712
Bakery           621
Name: count, dtype: int64

In [384]:
# Replace 0.0 with NaN so they don't mess up calculations
df['Longitude'] = df['Longitude'].replace(0.0, np.nan)
df['Latitude'] = df['Latitude'].replace(0.0, np.nan)

# Fill with the median of their respective City
df['Longitude'] = df['Longitude'].fillna(df.groupby('City')['Longitude'].transform('median'))
df['Latitude'] = df['Latitude'].fillna(df.groupby('City')['Latitude'].transform('median'))

In [ ]:
!pip install category_encoders
import category_encoders as ce
df['Locality_Density'] = df.groupby('Locality')['Locality'].transform('count')
df['City_Density'] = df.groupby('City')['City'].transform('count')

Requirement already satisfied: category_encoders in /usr/local/lib/python3.12/dist-packages (2.9.0)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (2.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scikit-learn>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.16.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (0.14.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2025.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels>=0.9.0->category_encoders) (25.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)

In [386]:
df.head(20)

,Country Code,City,Locality,Longitude,Latitude,Cuisines,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Votes,Average Cost for 2 in INR,Primary_Cuisine,Locality_Density,City_Density
0,162,Makati City,"Century City Mall, Poblacion, Makati City",121.027535,14.565443,"French, Japanese, Desserts",1,0,0,0,3,4.8,314,7458.0,Asian,1,2
1,162,Makati City,"Little Tokyo, Legaspi Village, Makati City",121.014101,14.553708,Japanese,1,0,0,0,3,4.5,591,8136.0,Asian,1,2
2,162,Mandaluyong City,"Edsa Shangri-La, Ortigas, Mandaluyong City",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",1,0,0,0,4,4.4,270,27120.0,Seafood,1,4
3,162,Mandaluyong City,"SM Megamall, Ortigas, Mandaluyong City",121.056475,14.585318,"Japanese, Sushi",0,0,0,0,4,4.9,365,10170.0,Asian,3,4
4,162,Mandaluyong City,"SM Megamall, Ortigas, Mandaluyong City",121.057508,14.584450,"Japanese, Korean",1,0,0,0,4,4.8,229,10170.0,Asian,3,4
5,162,Mandaluyong City,"SM Megamall, Ortigas, Mandaluyong City",121.056314,14.583764,Chinese,0,0,0,0,3,4.4,336,6780.0,Chinese,3,4
6,162,Pasay City,"SM by the Bay, Mall of Asia Complex, Pasay City",120.979667,14.531333,"Asian, European",1,0,0,0,4,4.0,520,13560.0,Asian,2,3
7,162,Pasay City,"SM by the Bay, Mall of Asia Complex, Pasay City",120.979333,14.540000,"Seafood, Filipino, Asian, European",1,0,0,0,4,4.2,677,13560.0,Seafood,2,3
8,162,Pasay City,"Sofitel Philippine Plaza Manila, Pasay City",120.980090,14.552990,"European, Asian, Indian",1,0,0,0,4,4.9,621,40680.0,European,1,3
9,162,Pasig City,Kapitolyo,121.056532,14.572041,Filipino,1,0,0,0,3,4.8,532,7458.0,Filipino,3,3
10,162,Pasig City,Kapitolyo,121.057916,14.567689,"Filipino, Mexican",0,0,0,0,3,4.9,1070,5424.0,Mexican,3,3
11,162,Pasig City,Kapitolyo,121.060820,14.570849,"American, Ice Cream, Desserts",1,0,0,0,3,4.2,488,6102.0,American,3,3
12,162,Quezon City,"UP Town Center, Diliman, Quezon City",121.075419,14.649503,"Filipino, Mexican",0,0,0,0,3,4.8,294,5424.0,Mexican,1,1
13,162,San Juan City,Addition Hills,121.033592,14.593450,Filipino,1,0,0,0,3,4.2,458,6780.0,Filipino,1,2
14,162,San Juan City,Little Baguio,121.038110,14.598890,Korean,0,0,0,0,3,4.3,223,4746.0,Korean,1,2
15,162,Santa Rosa,"Nuvali, Don Jose, Santa Rosa",121.057040,14.237082,"Cafe, American, Italian, Filipino",0,0,0,0,3,3.6,29,5424.0,Cafe,1,2
16,162,Santa Rosa,"Solenad 3, Don Jose, Santa Rosa",121.056587,14.237679,"Italian, Pizza",0,0,0,0,3,4.0,72,5763.0,Italian,1,2
17,162,Tagaytay City,Tagaytay City,120.951589,14.101834,Filipino,1,0,0,0,3,4.5,211,8136.0,Filipino,1,1
18,162,Taguig City,"BGC Stopover Pavillion, Bonifacio Global City",121.045878,14.554360,"Cafe, Korean, Desserts",0,0,0,0,2,4.5,118,4068.0,Cafe,1,4
19,162,Taguig City,Bonifacio Global City,121.046220,14.549337,"Cafe, Bakery, American, Italian",1,0,0,0,4,4.4,392,10170.0,Cafe,1,4

In [387]:
df.shape

(9542, 17)

In [388]:
df['Primary_Cuisine'].nunique()

96

In [389]:
df.drop(columns=['Cuisines', 'Locality', 'City'], axis=1, inplace=True)

In [390]:
top_15_cuisines = df['Primary_Cuisine'].value_counts().head(10).index
df_filtered = df[df['Primary_Cuisine'].isin(top_15_cuisines)].copy()

print(f"Original shape: {df.shape}, Filtered shape: {df_filtered.shape}")

Original shape: (9542, 14), Filtered shape: (8322, 14)

In [391]:
df_filtered['Primary_Cuisine']=df_filtered['Primary_Cuisine'].astype('category').cat.codes

In [392]:
df_filtered.head(20)

,Country Code,Longitude,Latitude,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Votes,Average Cost for 2 in INR,Primary_Cuisine,Locality_Density,City_Density
5,162,121.056314,14.583764,0,0,0,0,3,4.4,336,6780.0,3,3,4
11,162,121.060820,14.570849,1,0,0,0,3,4.2,488,6102.0,0,3,3
15,162,121.057040,14.237082,0,0,0,0,3,3.6,29,5424.0,2,1,2
16,162,121.056587,14.237679,0,0,0,0,3,4.0,72,5763.0,7,1,2
18,162,121.045878,14.554360,0,0,0,0,2,4.5,118,4068.0,2,1,4
19,162,121.046220,14.549337,1,0,0,0,4,4.4,392,10170.0,2,1,4
21,162,121.053500,14.545655,1,0,0,0,4,4.5,618,12204.0,0,2,4
22,30,-47.881789,-15.764142,0,0,0,0,2,3.0,6,931.7,6,4,20
23,30,-47.882667,-15.777500,0,0,0,0,1,3.8,9,508.2,2,4,20
24,30,-47.882136,-15.757472,0,0,0,0,2,3.7,11,762.3,1,4,20
26,30,-47.915667,-15.831167,0,0,0,0,2,3.2,11,847.0,6,6,20
30,30,-47.890167,-15.797000,0,0,0,0,1,0.0,2,508.2,2,6,20
31,30,-47.923667,-15.831333,0,0,0,0,4,4.1,12,2541.0,7,6,20
32,30,-48.019000,-15.837167,0,0,0,0,4,3.1,9,1694.0,6,3,20
37,30,-47.956283,-15.834514,0,0,0,0,4,4.0,10,2541.0,0,1,20
40,30,-47.885812,-15.720118,0,0,0,0,4,3.3,8,5929.0,7,1,20
41,30,-47.921028,-15.797531,0,0,0,0,2,3.6,9,847.0,0,1,20
43,30,-43.178826,-22.905293,0,0,0,0,4,4.8,29,1694.0,5,1,20
45,30,-43.175833,-22.962167,0,0,0,0,3,4.5,29,1524.6,2,3,20
47,30,-43.191000,-22.986833,0,0,0,0,3,4.8,19,1016.4,6,1,20

In [393]:
df_filtered['Primary_Cuisine'].nunique()

10

In [394]:
from sklearn.model_selection import train_test_split
X = df_filtered.drop('Primary_Cuisine', axis=1)
y = df_filtered['Primary_Cuisine']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [395]:
from imblearn.over_sampling import SMOTE

# Apply SMOTE to generate fake data for smaller cuisines
smote = SMOTE(random_state=42)
X_res_train, y_res_train = smote.fit_resample(X_train, y_train)

In [396]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_res_train = scaler.fit_transform(X_res_train)

In [397]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
rf = RandomForestClassifier(n_estimators=3000, random_state=42,class_weight='balanced')
rf.fit(X_train, y_train)
y_pred1 = rf.predict(X_test)

In [398]:
print("Accuracy:", accuracy_score(y_test, y_pred1))
print("Classification Report:\n", classification_report(y_test, y_pred1))

Accuracy: 0.4174174174174174
Classification Report:
               precision    recall  f1-score   support

           0       0.43      0.41      0.42        61
           1       0.22      0.11      0.15       120
           2       0.37      0.26      0.30       135
           3       0.19      0.06      0.09       178
           4       0.43      0.10      0.16        61
           5       0.38      0.31      0.34       116
           6       0.32      0.28      0.30       274
           7       0.29      0.08      0.13        49
           8       0.48      0.79      0.59       616
           9       0.15      0.04      0.06        55

    accuracy                           0.42      1665
   macro avg       0.33      0.24      0.25      1665
weighted avg       0.37      0.42      0.36      1665